#box {
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 1px solid black;
	margin-right: 30px;
}



* {
	/*
	zeroes all margins and paddings of our elements. Because by default, elements are being added
	margins and paddings by browser
	box-sizing: border-box; -  to accurately measure our elements, that padding and border are not added on the top of the element's width*/

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sample {
	height: 150px;
	width: 150px;
	border: 2px solid blue;
	background-color: green;


}

#box1 {
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px sold black;
	background-color: orange;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
	/* without box-sizing: border-box
		the exact widt: 

		border and padding are added on top of the width

		2px left border + 50px left padding +150 width + 50px right padding + 2px right border = 254px

		With box-sizing: border-box;
			the exact width of our element

			border and padding are included in the total width

			2px left border + 50px left padding + 46px content width + 50px right padding + 2px right padding

			padding - space within an element
			margin - space outside of the element or outside of an element's border.

			display inline: block;
			- this property is used to display an element as an inline-le
	*/
}

#box2 {
	height: 150px;
	width: 150px;
	border: 2px solid red;
	background-color: yellow;
	padding: 50px;
	display: inline-block;
	vertical-align: top;
	
}