/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #F8F8F8
;
}

/*nav bar*/
nav	{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	background-color: #7734E9;
	color: white;

}


footer {
	padding: 0.7;
	background-color: #FDD73E;
}

/*id selector*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: #211C4B;
	color: white;
}

#featured-p {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#pre-footer {
	padding: 1rem;
	background-color: #7734E9;
	color: white;
}

/*combinators*/

nav > ul {
	list-style: none;
}

nav .nav  {
	margin: 0.5rem;
	display: inline;
	
}

#intro h2, #intro p{
	margin-bottom: 1rem;

}

#intro button {
	color: black;
	font-weight: bold;
	background-color: #FDD73E;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;

}

img	{
	height: 200px;
	width: 200px;
	border-radius: 150px;
	

}

#featured-p h2 {
	margin-bottom: 2rem;
	text-align: center;
}

#featured-p h3 {
	text-align: center;
	margin-bottom: 2rem;
}


#featured-p .card {
	display: inline-block;
	vertical-align: top;
	min-height: 30%;
	width: 30%;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;

}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}